.projectRoot {
  min-height: 100vh;
  width: 100%;
}
.heading {
  color: #e4e6eb !important;
}
.hr {
  width: 100px;
  background-color: #35ff1f;
  height: 3px;
  border-radius: 4px;
  margin: 15px auto;
}
/* 
.noFlowFlexbox{
  display: flex;
  justify-content: center;
  align-items: stretch;
} */
.face {
  height: 520px;
  width: 360px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 8px #03cae3;
  background-color: #001d27;
  transform: none !important;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Head */
.innerFront,
.innerBack {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: solid 5px #ea0339;
  border-radius: 15px;
}
.innerBack {
  border: solid 5px #35ff1f;
}
.projectName {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -15px);
  background: linear-gradient(180deg, #100e17 0%, #001d27 100%);
  color: #03cae3;
  font-weight: bolder;
  padding: 0 10px;
  border-radius: 0 0 5px 5px;
}
.projectImage {
  margin-top: 1px;
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center center;
}
.rise3D {
  z-index: 2;
  transform:  translateZ(60px) scale(.94);
  padding: 0 10px 0 10px;
}
.cardFooter{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 80px;
}