.section {
    display: flex;
    background-color: #100e17;
    height: 100%;
    width: 100%;
  }
  
.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
.layout {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
