.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #35ff1f;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
}
.modal {
  background: #17141d;
  max-width: 700px;
  box-shadow: -1rem 0 3rem #000;
  margin: 30px;
  border-radius: 16px;
  display: grid;
  position: relative;
  grid-template-column: repeat(5, 1fr);
  transition: 0.2s;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1 1 30% !important;
}
.icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #35ff1f;
  cursor: pointer;
}
.modal::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background-color: transparent;
}

.modal::-webkit-scrollbar {
  width: 5px;
}
/* 
.modal::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #35ff1f;
} */
.modal::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;

  border-radius: 10px;

  background: #35ff1f;

  -webkit-box-shadow: inset 0 0 6px #35ff1f;
}

.common {
  margin: 60px auto 20px;
  text-align: center;
}
.mainContent {
  font-size: 16px;
  color: #dfdfdf;
  font-family: "Poppins", sans-serif;
}
.commonBorder {
  background: #35ff1f;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}
/* card */
.container {
  max-width: 800px;
  text-align: center;
}
.content {
  color: #ffffff;
}
.card .upcoming {
  border: 1px solid #35ff1f;
}
.card {
  background: #17141d;
  width: 80%;
  box-shadow: -1rem 0 3rem #000;
  margin: 30px;
  border-radius: 16px;
  display: grid;
  transition: 0.2s;
  padding: 10px;
  /* flex: 1 1 30% !important; */
}
.card:hover {
  transition: 0.2s !important;
}

.poster {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 5px;
}
.date {
  font-size: 15px;
  color: rgb(218, 206, 206);
}
.date > strong {
  color: #35ff1f;
  letter-spacing: 3px;
}
.card_content {
  grid-column: 3 / 5;
  padding: 10px 30px;
  border-left: 1px solid #ccc;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title {
  text-transform: uppercase;
  color: #35ff1f;
}
h1 {
  margin-bottom: 0;
}
.card_content .author {
  border-top: 1px solid #cdcdcd;
  font-weight: 700;
  margin-top: 25px;
  padding: 25px 0 10px 0;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .card {
    display: block;
    max-width: 95%;
    margin: auto;
    margin-bottom: 10px;
  }
  .card .img_container {
    height: 250px;
    width: 100%;
  }
  .card_content {
    border: 0;
    border-top: 1px solid #ccc;
    display: flex;
  }
  .content {
    font-size: small;
  }
  .title {
    font-size: medium;
  }
}

.button {
  border-radius: 10px;
  background-color: #100e17;
  border: 2px solid #35ff1f;
  color: white;
  padding: 3px 20px;
  transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  letter-spacing: 2px;
  max-width: 300px;
}
.button:hover {
  background-color: #35ff1f;
  color: #100e17;
}
.pastEvents {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.upcoming {
  margin: auto;
  max-width: 60%;
}
