.scrollBtn {
  position: fixed !important; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background-color: #49a91d !important;
  border-radius: 50%;
  color: #fff;
}
