@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* * {
  box-sizing: border-box;

  margin: 0px;
  padding: 0px;

}
body{
  background-color: #000;
} */

.formDiv {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  /* background: #2a2929; #2a2929 */
  background: black;
}

.heading {
  color: #45ed4e;
  font-size: 30px;
  padding-top: 30px;
  text-align: center;
  font-weight: 500;
}

.rocket{
  height: 30px;
  width: 30px;
  position: relative;
  top: 5px;
}

/* style={{ textAlign: "center"}} */
.form_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px 10px;
  border-radius: 5px;
}

.form_comp {
  width: 50%;
  justify-content: center;
  padding: 10px;
  margin: 0px 20px;
}

.loc label {
  color: aliceblue;

}

.loc input,
.loc select {
  
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 40px;
  /* text-align: center;    */
  padding: 0px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.loc select:required:invalid{
  color: #757575;
}
.loc option{
  color: black;
}

/* Chrome, Safari, Edge, Opera */
.loc input::-webkit-outer-spin-button,
.loc input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loc input:focus,.loc select:focus{
  outline: 2px solid #45ed4e;
  border: 2px solid black;
}
.submit {
  width: 100%;
  height: fit-content;
  background-color: #45ed4e;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s all;
  font-size: 18px;
}

.submit:hover {
  opacity: 0.7;
}


.submit:active {
  opacity: 1;
}
.submit:disabled {
  cursor: not-allowed;
}

.showError {
  border-color: #a94442 !important;
  color: #a94442 !important;
  margin-bottom: 15px;
}

.loader{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  /* margin: 20px 0; */
}

.spinner{
  height: 27px;
  width: 27px;
  /* color: #45ed4e; */
  color: #fff;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.message {
  margin: 20px 0;
}



@media screen and (max-width: 900px) {
  .form_comp {
    width: 68%;
  }
}


@media screen and (max-width: 700px) {
  .form_comp {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .form_comp {
    width: 100%;
  }
}

@media screen and (max-width: 475px) {
  .form_comp {
    width: 100%;
  }
}


.copy{
  padding: 10px 0 20px 0;
  color: #45ed4e;
  text-align: center;
}