.column {
  width: 35%;
  padding: 0 25px ;
}
.links {
  list-style: none;
  padding: 0;
}
.column h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.column h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #35ff1f;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.column ul li:not(:last-child) {
  margin-bottom: 10px;
}
.column ul li a {
  font-size: 16px;
  /* text-transform: capitalize; */
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #7a7a8c;
  display: block;
  transition: all 0.3s ease;
}
.column ul li a:hover {
  color: #35ff1f;
  padding-left: 15px;
  transform: scale(1.1);
}

/*responsive*/
@media (max-width: 767px) {
  .column {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .column {
    width: 100%;
  }
}
