.card {
  height: auto;
  min-width: 150px !important;
  max-width: 150px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: 0rem 0px 4rem 3px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  margin-left: 30px;
  cursor: pointer;
  border: 2px solid #17141d;
}

.card:hover {
  border: 2px solid #35ff1f;
}

.row {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  scroll-behavior: smooth;
  align-items: center;
  justify-content: space-between;
}
.row::-webkit-scrollbar {
  display: none;
}
.profile_pic {
  border-radius: 45%;
  height: 100px;
  width: 100%;
  padding: 5px;
}

.name {
  color: #35ff1f;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  line-height: 20px;
}
.domain {
  font-size: x-small;
  color: #169208;
  text-align: center;
}
.social {
  display: flex;
  align-items: space-around;
  flex-wrap: wrap;
}
.social > a {
  color: #258642;
}
.social > a:hover {
  color: #35ff1f;
}
.heading {
  color: #35ff1f;
  margin-left: 10px;
}
