.socialLinks a {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 30px 30px 0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  margin-top: 50px;
  margin-right: 20px;
}
.socialLinks a:hover {
  color: #000000;
  background-color: #35ff1f;
}
