.container {
  max-width: 850px;
  margin: auto;
}
.row {
  padding: 30px 25px 0 50px;
  margin:10;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 50px;
  padding-bottom: 20px;
}
.social{
  margin-left:25px;
}
.heading {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #35ff1f;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
