.socialLinks a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.socialLinks a:hover {
  color: #24262b;
  background-color: #35ff1f;
}
.heading {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #35ff1f;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
