.memberCard {
  background: rgba(14, 14, 14, 0.25);
  box-shadow: 0 0px 10px 0 rgba(31, 135, 116, 0.27);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.overlay {
  background: rgba(201, 200, 200, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.6s ease-in-out;
} 

 .domainIcon:hover {
  color: rgb(11, 214, 11);
} 
   .memberCard:hover{
    background-color: rgba(0,0,0,0.25);
    backdrop-filter: blur(20px);
  } 

 .memberCard:hover .overlay { 
 
   transform: translate(0, -100px); 
 } 

 .memberName {
  transition: all 0.6s ease-in-out;
}

.memberCard:hover .memberName {
  color: aliceblue;
  transform: scale(1.1);
}















