 .container {
  padding: 0 !important;
  position: relative;
  background-color: transparent !important;
}

.flip-box {
  transform-style: preserve-3d;
  perspective: 1000px;
  display: grid;
  place-items: center;
  grid-template-areas:"inners";
  padding: 10vh 0;
}

.flip-box-front,
.flip-box-back {
  width: 90%;
  grid-area: inners;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  min-height: 425px;
  transition: transform 2000ms cubic-bezier(.4,.2,.2,1);
}

.flip-box-front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.flip-box-back {
  color: #fff;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}


.flip-box:hover .flip-box-front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

/* flipbox contents */
.flip-box .inner ul {
  font-size: 24px;
}

.flip-box .inner {
  z-index: 2;
  transform:  translateZ(60px) scale(.94);
}

.flip-box-header {
  font-size: 34px;
}

.flip-box p {
  font-size: 20px;
}

.flip-box-img {
  margin: 25px;
}

.invert-color {
  -webkit-filter: invert(1);
          filter: invert(1);
}